<nav class="navbar navbar-expand-sm navbar-light" flex>
  <ul class="navbar-nav" padding>
    <li class="nav-item active" space-after>
      <a class="nav-link" href="#">Getting Started</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" space-after>Create Roster</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" space-after>Keep Score</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" space-after>Logout</a>
    </li>
  </ul>
</nav>
